<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
     <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}">Red chair</td>
                    <td th:text="${student.firstName}">$350</td>
                    <td th:text="${student.lastName}">28-Jun-2013</td>
                     <td th:text="${student.email}">28-Jun-2013</td>
                </tr>
            </tbody>
        </table>
  </div>
     <ul>
     <li><a href="#" th:href="@{/create-student}">Create New Student</a></li>
     </ul>
</body>
</html>